src/conf/xml-resources/web-service-references/serviciosSOAP_1/wsdl/localhost_8080/VistaClienteSOAP/serviciosSOAP.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.2 (UNKNOWN-17d59c9; 2018-09-26T15:16:30-0700) JAXWS-RI/2.3.1 JAXWS-API/2.3.1 JAXB-RI/2.3.1 JAXB-API/2.3.1 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://javaee.github.io/metro-jax-ws). RI's version is Metro/2.4.2 (UNKNOWN-17d59c9; 2018-09-26T15:16:30-0700) JAXWS-RI/2.3.1 JAXWS-API/2.3.1 JAXB-RI/2.3.1 JAXB-API/2.3.1 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://WS/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://WS/" name="serviciosSOAP">
<types>
<xsd:schema>
<xsd:import namespace="http://WS/" schemaLocation="http://localhost:8080/VistaClienteSOAP/serviciosSOAP?xsd=1"/>
</xsd:schema>
</types>
<message name="depositar">
<part name="parameters" element="tns:depositar"/>
</message>
<message name="depositarResponse">
<part name="parameters" element="tns:depositarResponse"/>
</message>
<message name="retirar">
<part name="parameters" element="tns:retirar"/>
</message>
<message name="retirarResponse">
<part name="parameters" element="tns:retirarResponse"/>
</message>
<message name="registro">
<part name="parameters" element="tns:registro"/>
</message>
<message name="registroResponse">
<part name="parameters" element="tns:registroResponse"/>
</message>
<message name="saldo">
<part name="parameters" element="tns:saldo"/>
</message>
<message name="saldoResponse">
<part name="parameters" element="tns:saldoResponse"/>
</message>
<message name="login">
<part name="parameters" element="tns:login"/>
</message>
<message name="loginResponse">
<part name="parameters" element="tns:loginResponse"/>
</message>
<portType name="serviciosSOAP">
<operation name="depositar">
<input wsam:Action="http://WS/serviciosSOAP/depositarRequest" message="tns:depositar"/>
<output wsam:Action="http://WS/serviciosSOAP/depositarResponse" message="tns:depositarResponse"/>
</operation>
<operation name="retirar">
<input wsam:Action="http://WS/serviciosSOAP/retirarRequest" message="tns:retirar"/>
<output wsam:Action="http://WS/serviciosSOAP/retirarResponse" message="tns:retirarResponse"/>
</operation>
<operation name="registro">
<input wsam:Action="http://WS/serviciosSOAP/registroRequest" message="tns:registro"/>
<output wsam:Action="http://WS/serviciosSOAP/registroResponse" message="tns:registroResponse"/>
</operation>
<operation name="saldo">
<input wsam:Action="http://WS/serviciosSOAP/saldoRequest" message="tns:saldo"/>
<output wsam:Action="http://WS/serviciosSOAP/saldoResponse" message="tns:saldoResponse"/>
</operation>
<operation name="login">
<input wsam:Action="http://WS/serviciosSOAP/loginRequest" message="tns:login"/>
<output wsam:Action="http://WS/serviciosSOAP/loginResponse" message="tns:loginResponse"/>
</operation>
</portType>
<binding name="serviciosSOAPPortBinding" type="tns:serviciosSOAP">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="depositar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="retirar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="registro">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="saldo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="login">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="serviciosSOAP">
<port name="serviciosSOAPPort" binding="tns:serviciosSOAPPortBinding">
<soap:address location="http://localhost:8080/VistaClienteSOAP/serviciosSOAP"/>
</port>
</service>
</definitions>